[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
micropy-cli = "*"
microdot-asyncio = "*"
schedule = "*"
urequests = "*"
micropython-rp2-pico-w-stubs = "*"

[dev-packages]

[requires]
python_version = "3.11"
