[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
flake8 = "*"
micropy-cli = "*"
microdot-asyncio = "*"

[dev-packages]

[requires]
python_version = "3.9"
